<div class="card mt-2">
  <div class="card-body">
      <form>
            <div class="form-group row">
                <label for="example-text-input" class="form-control-label col-12 col-sm-3 mt-2">Name</label>
                <div class="input-group input-group col-12 col-sm-9">
                    <input class="form-control" type="text" id="example-text-input" placeholder="Name">
                </div>
            </div>
            <div>
                <button class="btn btn-primary">Create</button>
            </div>
      </form>
  </div>
</div>

