<div class="row justify-content-around">
    <div class="card text-white bg-primary mb-3 Card">
        <div class="card-body">
        <h5 class="card-title">OWNER</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-yellow mb-3 Card">
        <div class="card-body">
        <h5 class="card-title">FINANCE</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3 Card">
        <div class="card-body">
        <h5 class="card-title">INVENTORY</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 Card">
        <div class="card-body">
        <h5 class="card-title">CASHIER</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
