<div class="row justify-content-around">
    <div class="card text-white bg-primary mb-3 Card">
        <div class="card-body">
        <h3 class="card-title">OWNER</h3>
        <p class="card-text">Owners operate their own companies and handle responsibilities such as creating business plans, arranging financing, hiring staff, reviewing sales, developing marketing strategies, overseeing daily activities, and identifying business opportunities.</p>
        </div>
    </div>
    <div class="card text-white bg-yellow mb-3 Card">
        <div class="card-body">
        <h3 class="card-title">FINANCE</h3>
        <p class="card-text">A Finance distributes the financial resources of a company, is responsible for the budget planning, and supports the executive management team by offering insights and financial advice that will allow them to make the best business decisions for the company.</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3 Card">
        <div class="card-body">
        <h3 class="card-title">INVENTORY</h3>
        <p class="card-text">An Inventory keeps track of the goods and supplies in a store or warehouse and manages orders to facilitate sales or production. Their duties include signing off on shipments, counting the number of available products and placing orders for more inventory according to demand.</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3 Card">
        <div class="card-body">
        <h3 class="card-title">CASHIER</h3>
        <p class="card-text">A Cashier's primary role is to assist customers in the in-store check-out process. Main duties include ringing up sales, bagging items, requesting price checks, honoring coupons, collecting payment and giving appropriate change.</p>
        </div>
    </div>
</div>
