<div class="table-responsive mt-4">
  <table class="table align-items-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="sort text-white text-default" data-sort="no">
          No
        </th>
        <th scope="col" class="sort text-white" data-sort="name">Name</th>
        <th scope="col" class="sort text-white" data-sort="image">Image</th>
        <th scope="col" class="sort text-white" data-sort="code">Code</th>
        <th scope="col" class="sort text-white" data-sort="brand">Brand</th>
        <th scope="col" class="sort text-white" data-sort="createdAt">
          Created At
        </th>
        <th scope="col" class="sort text-white" data-sort="action">Action</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr *ngFor="let product of products; let i = index">
        <td class="no">
          {{ i + 1 }}
        </td>
        <td class="name">
          {{ product.name }}
        </td>
        <td class="image">
          <a [href]="product.image" target="_blank" rel="noopener noreferrer">{{
            product.image
          }}</a>
        </td>
        <td class="code">
          {{ product.code }}
        </td>
        <td class="brand">{{ product.Brand.name }}</td>
        <td class="createdAt">{{ product.createdAt }}</td>
        <td class="action">
          <form
            style="width: 500px"
            [formGroup]="editProductForm"
            (ngSubmit)="onSubmit(product._id)"
          >
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Name</label
              >
              <div class="input-group input">
                <input
                  class="form-control"
                  type="text"
                  id="example-text-input"
                  placeholder="Name"
                  formControlName="name"
                  required
                />
              </div>
              <small
                *ngIf="
                  !editProductForm.get('name')!.valid &&
                  editProductForm.get('name')!.touched
                "
                class="help-block text-danger"
                >Product name is required</small
              >
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Code</label
              >
              <div class="input-group input">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >PRD</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default"
                  pattern="^[0-9]+$"
                  formControlName="code"
                  required
                />
              </div>
              <small
                *ngIf="
                  !editProductForm.get('code')!.valid &&
                  editProductForm.get('code')!.touched
                "
                class="help-block text-danger"
                >Product code is required and only contains numbers</small
              >
            </div>
            <div class="form-group">
              <label for="example-text-input" class="form-control-label"
                >Image</label
              >
              <div class="input-group input">
                <input
                  type="file"
                  class="custom-file-input"
                  id="customFileLang"
                  lang="en"
                />
                <label class="custom-file-label" for="customFileLang"
                  >Select file</label
                >
              </div>
            </div>
            <div>
              <button
                [disabled]="!editProductForm.valid"
                type="submit"
                class="btn btn-primary"
              >
                Edit
              </button>
            </div>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
