<div class="card mt-2">
  <div class="card-body">
    <form [formGroup]="createDOForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >PO Number - Product - UOM</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <select
            class="form-control"
            data-toggle="select"
            title="Simple select"
            data-live-search="true"
            data-live-search-placeholder="Search ..."
            formControlName="POProduct"
            required
          >
            <option disabled [ngValue]="null">
              --- Choose PO Number - Product - UOM ---
            </option>
            <option
              *ngFor="let POProduct of POProducts"
              [ngValue]="POProduct._id"
            >
              {{ POProduct.PO!.PONumber }} - {{ POProduct.UOM.Product.name }} -
              {{ POProduct.UOM.name }}
            </option>
          </select>
        </div>
        <small
          *ngIf="
            !createDOForm.get('POProduct')!.valid &&
            createDOForm.get('POProduct')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >PO Number - Product - UOM is required</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >DO Number</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >DO</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            pattern="^[0-9]+$"
            formControlName="DONumber"
            required
          />
        </div>
        <small
          *ngIf="
            !createDOForm.get('DONumber')!.valid &&
            createDOForm.get('DONumber')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >DO Number is required and only contains numbers</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >DO Date</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <input
            class="form-control"
            type="date"
            id="example-date-input"
            formControlName="DODate"
            required
          />
        </div>
        <small
          *ngIf="
            !createDOForm.get('DODate')!.valid &&
            createDOForm.get('DODate')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >DO Date is required</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >Quantity</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <input
            class="form-control"
            type="text"
            id="example-text-input"
            placeholder="Quantity"
            formControlName="quantity"
            required
          />
        </div>
        <small
          *ngIf="
            !createDOForm.get('quantity')!.valid &&
            createDOForm.get('quantity')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >DO quantity is required</small
        >
      </div>
      <div>
        <button
          [disabled]="!createDOForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
