<div class="card Card">
  <img
    class="card-img-top"
    [src]="UOMActive.Product.image"
    [alt]="UOMActive.Product.name + 'image'"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ UOMActive.Product.name }} - {{ UOMActive.name }}
    </h5>
    <p>Stock: {{ UOMActive.stock }}</p>
    <div class="row justify-content-lg-center">
      <button
        class="btn btn-sm btn-primary"
        (click)="emitUOM(UOMActive._id, UOMquantity.value)"
      >
        Add to cart
      </button>
      <input type="number" min="1" value="1" class="Quantity" #UOMquantity />
    </div>
  </div>
</div>
