<div class="table-responsive mt-4">
    <table class="table align-items-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort text-white text-default" data-sort="no">No</th>
                <th scope="col" class="sort text-white" data-sort="po">Purchase Order</th>
                <th scope="col" class="sort text-white" data-sort="po-date">PO Date</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="no">
                    1
                </td>
                <td class="po">
                    <a [routerLink]="'/admin/purchase-order/:purchaseOrderID'" routerLinkActive="active">PO 1</a>
                </td>
                <td class="po-date">
                    05-06-2021
                </td>
            </tr>
        </tbody>
    </table>
</div>

