<div class="container mt-3">
  <div class="ml-3" *ngIf="isLoaded">
    <h1>Purchase Order</h1>
    <div class="row mt-3">
      <div class="col-6">
        <h3>PO Date</h3>
        <p>{{ PO.PODate }}</p>
      </div>
      <div class="col-6">
        <h3>PO Number</h3>
        <p>{{ PO.PONumber }}</p>
      </div>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col-6">
        <h3>Supplier</h3>
        <p>{{ PO.Supplier!.name! }}</p>
        <p>{{ PO.Supplier!.companyName! }}</p>
        <p>{{ PO.Supplier!.phoneNumber! }}</p>
        <p>{{ PO.Supplier!.email! }}</p>
      </div>
      <div class="col-6">
        <h3>Ship to</h3>
        <p>{{ PO.shipTo!.name! }}</p>
        <p>{{ PO.shipTo!.companyName! }}</p>
        <p>{{ PO.shipTo!.phoneNumber! }}</p>
        <p>{{ PO.shipTo!.email! }}</p>
      </div>
    </div>
    <hr *ngIf="!(PO.status === 'PAID')" />
    <app-po-sheet-form
      (addPOProduct)="addPOProduct($event)"
      [UOMList]="UOMList"
      *ngIf="!(PO.status === 'PAID')"
    ></app-po-sheet-form>
    <hr />
    <div class="table-responsive mt-4">
      <table class="table align-items-center">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="sort text-dark Th" data-sort="no">No</th>
            <th scope="col" class="sort text-dark Th" data-sort="po-uom">
              Product - UOM
            </th>
            <th
              scope="col"
              class="sort text-dark Th text-right"
              data-sort="remaining"
            >
              Remaining
            </th>
            <th
              scope="col"
              class="sort text-dark Th text-right"
              data-sort="quantity"
            >
              Quantity
            </th>
            <th
              scope="col"
              class="sort text-dark Th text-right"
              data-sort="price"
            >
              Price
            </th>
            <th
              scope="col"
              class="sort text-dark Th text-right"
              data-sort="amount"
            >
              Amount
            </th>
          </tr>
        </thead>
        <tbody class="list">
          <tr *ngFor="let POProduct of PO.POProducts; let i = index">
            <td class="Td no">{{ i + 1 }}</td>
            <td class="Td po-uom">
              {{ POProduct.UOM.Product.name }} - {{ POProduct.UOM.name }}
            </td>
            <td class="Td remaining text-center">{{ POProduct.remaining }}</td>
            <td class="Td quantity text-center">{{ POProduct.quantity }}</td>
            <td class="Td price text-right">
              Rp. {{ POProduct.UOM.purchasePrice }}
            </td>
            <td class="Td amount text-right">Rp. {{ POProduct.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end mr-1">
      <p class="col-2 text-right font-weight-bold">Subtotal</p>
      <p class="col-2 text-right">Rp. {{ PO.subTotal }}</p>
    </div>
    <div class="row justify-content-end mr-1">
      <p class="col-2 text-right font-weight-bold">Discount</p>
      <p class="col-2 text-right">{{ PO.Supplier!.discount }}%</p>
    </div>
    <div class="row justify-content-end mr-1">
      <p class="col-2 text-right font-weight-bold">Total</p>
      <p class="col-2 text-right">Rp. {{ PO.total }}</p>
    </div>
  </div>
  <app-page-admin-loader *ngIf="!isLoaded"></app-page-admin-loader>
</div>
