<div class="table-responsive mt-4">
    <table class="table align-items-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort text-white text-default" data-sort="no">No</th>
                <th scope="col" class="sort text-white" data-sort="name">Name</th>
                <th scope="col" class="sort text-white" data-sort="company">Company Name</th>
                <th scope="col" class="sort text-white" data-sort="email">Email</th>
                <th scope="col" class="sort text-white" data-sort="phone">Phone</th>
                <th scope="col" class="sort text-white" data-sort="discount">Discount</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="no">
                    1
                </td>
                <td class="name">
                    Rizka Indah Puspita
                </td>
                <td class="company">
                    ...
                </td>
                <td class="email">
                    rizka@gmail.com
                </td>
                <td class="phone">
                    083674673
                </td>
                <td class="discount">
                    10%
                </td>
            </tr>
        </tbody>
    </table>
</div>




