<div class="container mt-3">
  <h2 *ngIf="isLoaded">Unit of Measure</h2>
  <app-uom-form
    (createUOM)="createUOM($event)"
    [products]="products"
    *ngIf="isLoaded"
  ></app-uom-form>
  <div class="mb-3" *ngIf="isLoaded && !isError">
    <button class="btn btn-success" (click)="runOutStock()">
      Run Out Stock
    </button>
  </div>
  <app-uom-list
    (editUOMStatus)="editUOMStatus($event)"
    [UOMList]="UOMList"
    *ngIf="isLoaded && !isError"
  ></app-uom-list>
  <app-page-error
    [errorMessage]="errorMessage"
    *ngIf="isLoaded && isError"
  ></app-page-error>
  <app-page-admin-loader *ngIf="!isLoaded"></app-page-admin-loader>
</div>
