<div class="table-responsive mt-4">
  <table class="table align-items-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="sort text-white text-default" data-sort="no">
          No
        </th>
        <th scope="col" class="sort text-white" data-sort="name">Name</th>
        <th scope="col" class="sort text-white" data-sort="stock">Stock</th>
        <th scope="col" class="sort text-white" data-sort="purchase">
          Purchase Price
        </th>
        <th scope="col" class="sort text-white" data-sort="selling">
          Selling Price
        </th>
        <th scope="col" class="sort text-white" data-sort="product">Product</th>
        <th scope="col" class="sort text-white" data-sort="status">Status</th>
        <th scope="col" class="sort text-white" data-sort="action">Action</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr>
        <td class="no">1</td>
        <td class="name">Nabila Khaerunnisa</td>
        <td class="stock">1</td>
        <td class="purchase">10000</td>
        <td class="selling">20000</td>
        <td class="product">Indomie</td>
        <td class="status">ACTIVE</td>
        <td class="action">
          <button class="btn btn-outline-primary">Activate</button>
          <button class="btn btn-outline-warning">Deactivate</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
