<div class="card mt-2">
  <div class="card-body">
    <form [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >Order Number</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >ORD</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            pattern="^[0-9]+$"
            formControlName="orderNumber"
            required
          />
        </div>
        <small
          *ngIf="
            !createOrderForm.get('orderNumber')!.valid &&
            createOrderForm.get('orderNumber')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >Order Number is required</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >Order Date</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <input
            class="form-control"
            type="date"
            id="example-date-input"
            formControlName="orderDate"
            required
          />
        </div>
        <small
          *ngIf="
            !createOrderForm.get('orderDate')!.valid &&
            createOrderForm.get('orderDate')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >Order Date is required</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >Customer Name</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Customer Name"
            formControlName="customerName"
            required
          />
        </div>
        <small
          *ngIf="
            !createOrderForm.get('customerName')!.valid &&
            createOrderForm.get('customerName')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >Customer Name is required</small
        >
      </div>
      <div class="form-group row">
        <label
          for="example-text-input"
          class="form-control-label col-12 col-sm-3 mt-2"
          >Taxed (10%)</label
        >
        <div class="input-group input-group col-12 col-sm-9">
          <select
            class="form-control"
            data-toggle="select"
            title="Simple select"
            data-live-search="true"
            data-live-search-placeholder="Search ..."
            formControlName="isTaxed"
            required
          >
            <option [ngValue]="null" disabled>--- Choose Answer ---</option>
            <option [ngValue]="'YES'">Yes</option>
            <option [ngValue]="'NO'">No</option>
          </select>
        </div>
        <small
          *ngIf="
            !createOrderForm.get('isTaxed')!.valid &&
            createOrderForm.get('isTaxed')!.touched
          "
          class="help-block text-danger col-12 col-sm-9 offset-sm-3"
          >Answer is required</small
        >
      </div>
      <div>
        <button
          [disabled]="!createOrderForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
