<div class="table-responsive mt-4">
    <table class="table align-items-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="sort text-white text-default" data-sort="no">
            No
          </th>
          <th scope="col" class="sort text-white" data-sort="ponumber-product-uom">PO Number - Product - UOM</th>
          <th scope="col" class="sort text-white" data-sort="do-number">DO Number</th>
          <th scope="col" class="sort text-white" data-sort="do-date">DO Date</th>
          <th scope="col" class="sort text-white" data-sort="quantity">Quantity</th>
          <th scope="col" class="sort text-white" data-sort="createdAt">
            Created At
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <tr>
          <td class="no">1</td>
          <td class="ponumber-product-uom">PO123-PRD123-543</td>
          <td class="do-number">DO123</td>
          <td class="do-date">10-06-2021</td>
          <td class="quantity">100</td>
          <td class="createdAt"></td>
        </tr>
      </tbody>
    </table>
</div>
