.Navbar-Img {
    max-height: 3rem !important;
}
.Username {
    text-decoration: underline;
}

.Title-toko {
    color: white !important;
    font-family: 'Kaushan Script', cursives !important;
    font-size: 25px;
}