<div class="container mt-3">
  <div *ngIf="isLoaded">
    <h2>Data Product</h2>
  </div>
  <app-product-form
    *ngIf="isLoaded"
    (createProduct)="createProduct($event)"
    [brands]="brands"
  ></app-product-form>
  <app-product-list
    (editProduct)="editProduct($event)"
    [products]="products"
    *ngIf="isLoaded && !isError"
  ></app-product-list>
  <app-page-error
    [errorMessage]="errorMessage"
    *ngIf="isLoaded && isError"
  ></app-page-error>
  <app-page-admin-loader *ngIf="!isLoaded"></app-page-admin-loader>
</div>
