<div class="card mt-2">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="form-group col-6">
                    <label for="example-text-input" class="form-control-label">PO Number</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">PO</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="example-text-input" class="form-control-label">PO Date</label>
                    <input class="form-control" type="date" value="2021-06-01" id="example-date-input">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="example-text-input" class="form-control-label">Ship to</label>
                    <input class="form-control" type="text" id="example-text-input" placeholder="Name">
                    <input class="form-control" type="text" id="example-text-input" placeholder="Company Name">
                    <input class="form-control" type="text" id="example-text-input" placeholder="Phone">
                    <input class="form-control" type="text" id="example-text-input" placeholder="Email">
                </div>
                <div class="form-group col-6">
                    <label for="example-text-input" class="form-control-label">Supplier</label>
                    <select class="form-control" data-toggle="select" title="Simple select" data-placeholder="Select a state">
                        <option>PT. Indofood</option>
                        <option>PT. Wingsfood</option>
                    </select>
                </div>
            </div>
            <div>
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
