<div class="container mt-3">
  <h2 *ngIf="isLoaded && !isError">Receivable</h2>
  <div class="float-left mb-3" *ngIf="isLoaded && !isError">
    <button class="btn btn-success mt-3" (click)="exportexcel()">
      Export to Excel
    </button>
  </div>
  <div class="table-responsive mt-4" *ngIf="isLoaded && !isError">
    <table class="table align-items-center" id="receivable-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="sort text-white text-default" data-sort="no">
            No
          </th>
          <th scope="col" class="sort text-white" data-sort="order-number">
            Order Number
          </th>
          <th scope="col" class="sort text-white" data-sort="order-date">
            Order Date
          </th>
          <th scope="col" class="sort text-white" data-sort="status">Status</th>
          <th scope="col" class="sort text-white text-right" data-sort="total">
            Total
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <tr *ngFor="let AR of ARList; let i = index">
          <td class="no">{{ i + 1 }}</td>
          <td class="order-number">{{ AR.orderNumber }}</td>
          <td class="order-date">{{ AR.orderDate }}</td>
          <td class="status">{{ AR.status }}</td>
          <td class="total text-right">Rp. {{ AR.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end mr-1" *ngIf="isLoaded && !isError">
    <p class="col-2 text-right font-weight-bold">Grand Total</p>
    <p class="col-2 text-right">Rp. {{ grandTotal }}</p>
  </div>
  <app-page-error
    [errorMessage]="errorMessage"
    *ngIf="isLoaded && isError"
  ></app-page-error>
  <app-page-admin-loader *ngIf="!isLoaded"></app-page-admin-loader>
</div>
